<div class="row">	
<div class="col-sm-2 col-md-2"></div>	
	<div id="form" class="col-sm-8">
		<b><h1>SIMPLE TODO LISTS</h1></b>
		<form >
			<div>
				<todo-list data="list" ng-repeat="list in listAllTodoLists()"></todo-list>
			</div>
			<div class="row">
				<b><h4>				
				<button type="submit" id="todoButton" ng-click="addNewTodoList()" >
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add TODO List
				</button>
				</h4></b>	
			</div>
		</form>	
	</div>	
	</div>
	<div class="col-sm-2 col-md-2"></div>	
</div>
