
#todo{
	padding-top: 25px;
}
#todo h1{
	text-align: center;
	padding-top: 25px;
}
.row{
	text-align: center;
	padding-top: 25px;
}
.row input{
	text-align: center;
	padding: 5px;
}
.btn{
	text-align: center;
	background-color: #4d7db8;
	color: white;
	font-weight: bold;	
	border-radius: 5px;
	padding: 2px;	
}